/* Application wide non-native CSS rules */

html {
}

body {
}

#content {
}

* {
	//cursor: pointer;
}

.list {
	//background: #fcfcfc;
	
	//-webkit-transform: translate3d(0,0,0) !important;
	//-webkit-font-smoothing: subpixel-antialiased !important;	
	background: transparent;
}

.button {
	transition: 0.25s;
}

.button-tiny {
	padding: 0 !important;
	margin: 0 !important;
	min-height: 24px;
}


.customButton {
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 3px;
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	border: 0;
	margin-top: 12px;
	border: 0.5px #333 solid;
}

.checkedButton {
	 border-color: #d39211 !important;
	 background-color: #f0b840 !important;
	 color: #fff !important;
	 transition: 0.25s;
}

.smallIcon {
	font-size: 16px !important;
	color: #666;
}

.item > h2 {
	display: inline;
}

.item-divider:active {
	/*color: #777 !important;
	background-color: #ccc !important;
	transition: 0.15s !important;*/
}

.item-divider {
	//transition: 0.15s !important;
	//background: rgba(254, 254, 254, 0.95);
	background-color: #ccc;
}

.item-divider .count {
	font-weight: 300;
	color: #777;
	font-size: 15px;
	float: left;
	padding-left: 6px;
	padding-right: 6px;
}

.item-divider .reset {
	float: right;
	font-weight: 300;
	color: #777;
	font-size: 14px;
	transition: 0.15s;	
	padding-left: 6px;
	padding-right: 6px;
}

.item-divider .reset:active {
	color: #ccc;
	transition: 0.15s;
}

.subheader {
	//float: left;
	font-size: 12px;
	text-transform: uppercase;
	min-height: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #777;
}

#beerlist {
	min-height: 101%;
	position: relative;
	z-index: 0;
	
	//-webkit-transform: translate3d(0,0,0);
	//-webkit-font-smoothing: subpixel-antialiased !important;	
	
}

#list {
	//margin-top: 48px;	
	/*-webkit-transform: translate3d(0,0,0);
	-webkit-font-smoothing: subpixel-antialiased !important;	*/
	
}

.hidden {
	visibility: hidden !important;
	opacity: 0 !important;
	transition: 0.25s !important;
}

.display-none {
	display: none;
}

.reset {
	/*visibility: visible;
	opacity: 1;*/
	opacity: 1;
	transition: 0.25s;
}

.custom-item-divider > .item-icon-left {
	padding-left: 24px;
	padding-right: 0;
}

.custom-item-divider > .item-icon-left > .icon {
	left: 0;
}


.searchBoxEmpty {
	//min-height: 36px;
	width: 100%;
	display: inline-block;
	transition: 0.25s;
}

.searchBoxNotEmpty {
	//min-height: 36px;
	width: 80%;
	display: inline-block;
	transition: 0.25s;
}

.resetBox {
	display: inline-block;
	width: 20%;
	transition: 0.5s;
	opacity: 1;	
	text-align: center;
	color: #777;
	padding-top: 4px;
	padding-bottom: 4px;
}

.resetBoxHidden {
	display: inline-block;
	width: 0%;
	transition: 0.5s;
	opacity: 0;
}

.searchFieldInlineLabel:active {
	//background-color: #aaa;
	color: #eee;
	transition: 0.45s;
}

.searchFieldInlineLabel {
	position: absolute;
	z-index: 2;
	color: #999;
	right: 12px;
	min-width: 60px;
	margin-right: 20px;
	height: 22px;
	top: 8px;
	margin-top: 12px;
	border-radius: 4px;
	right: 18%;
	text-align: right;
	
	transition: 0.45s;		
}

.searchFieldBeers {
	padding-right: 4px;
	position: relative;
	top: -4px;
}

.resetSearch {
	border-radius: 50%;
	background: #999;
	color: #ddd;
	display: inline-block;
	min-width: 14px;
	min-height: 14px;
	height: 14px;
	width: 14px;
	max-height: 14px;
	max-width: 14px;
	font-size: 11px;
	text-align: center;
	position: relative;
	top: -4px;
	transition: 0.35s;

}

.resetSearch > span {
	position: relative;
	top: -1px;
	left: 0px;
	
}



.brewery {
	//padding-top: 2px;
	font-size: 15px;
}

#filter {
	//position: fixed;

	/*left: 0;
	top: 0;
	right: 0;*/
	width: 100%;

	z-index: 2;
	//display: none;
	
	//visibility: hidden;
	
	margin-bottom: 0;
	//-webkit-transform: translate3d(0,0,0);
	//-webkit-backface-visibility: hidden !important;
	
}

.beerlist-item {
	background: rgba(254, 254, 254, 0.85);
	transition: 0.35s;
}

.beerlist-item > *
{
	//pointer-events: none;
}

.beerlist-item:active {
	//background: #ccc !important;
}

.beerdetails-item {
	//background: rgba(254, 254, 254, 0.85);
	//border-color: #ccc;
}

.button-bar > .button-light {
	border-color: #145fd7;
	color: #4a87ee;
}

.button-bar > .button-positive {
	color: #fff;
}

.big-icon {
	font-size: 48px;
	text-align: center;
}

.center {
	text-align: center;
}

#beerSearchInput {
	//position: fixed;
	
	/*top: 0;
	left: 0;
	right: 0;*/
	//width: 100%;
	//background-color: #dfdfdf;	
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	z-index: 2;
	
	background: rgba(204, 204, 204, 0.85);
}

#beerSearchInput > * {
	//-webkit-transform: translate3d(0,0,0) !important;	
}

#beerSearchInput > label {
	background: #fefefe;
}

.filterItem {
	//background-color: #dfdfdf;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	
	background: rgba(204, 204, 204, 0.85);
	
}

.margin-24 {
	height: 24px;
	background: #eee;
}

#abvEntry {
	max-width: 56px;
	background: #ddd;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
}

.inline-block {
	/*display: inline-block;
	vertical-align:top	*/
}

.inline {
	display: inline;
}

.left {
	position: relative;
	float: left;
}

.right {
	float: right;
}

.abvItem {
	max-height: 46px;
}

.abvNysv {
	padding-left: 6px;
}

#searchFilterContainer {
	//position: -webkit-sticky !important;
	//position: fixed;
	//top: 0;
	//right: 0;
	//left: 0;
	z-index: 2;
	//-webkit-backface-visibility: hidden !important;
	//-webkit-transform: translate3d(0, 0, 0);
	//-webkit-font-smoothing: subpixel-antialiased !important;
	
	//background: rgba(154, 154, 154, 0.85);
}

.selectedItem {
	background-color: #ddd;
	transition: 0.35s;
}

.item {
	transition: 0.35s;	
	cursor: pointer;
}

/*.sticky {
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 48px;
	z-index: 3 !important;
}*/

.translucent {
	background: rgba(5, 5, 5, 0.25);	
	color: #ccc;
	//border-color: #555;
	border: 0;
}

.translucent:active {
	background: rgba(200, 200, 200, 0.25);
	transition: 0.25s;
}

.translucent > h2 {
	color: #ccc;
}

.fixedsticky {
	top: 0px;
	z-index: 3;
}

.smaller {
	font-size: 90%;
	font-weight: 300;
}

::-webkit-input-placeholder {
   text-align: center;
}